.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* height: 64px; */
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.photo {
  height: 54px;
  width: 48px;
  margin: 8px;
  border-radius: 4px;
}

.in-logo {
  height: 54px;
  margin: 8px;
}

.App-main {
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.glowing {
  position: relative;
  min-width: 750px;
  height: 750px;
  margin: -150px;
  transform-origin: right;
  animation: colorChange 5s linear infinite;
}

.glowing:nth-child(even) {
  transform-origin: left;
}

@keyframes colorChange {
  0% {
    filter: hue-rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
    transform: rotate(360deg);
  }
}

.glowing span {
  position: absolute;
  top: calc(80px * var(--i));
  left: calc(80px * var(--i));
  bottom: calc(80px * var(--i));
  right: calc(80px * var(--i));
}

.glowing span:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -8px;
  width: 15px;
  height: 15px;
  background: #f00;
  border-radius: 50%;
}

.glowing span:nth-child(3n + 0):before {
  background: rgba(134, 255, 0, 1);
  box-shadow: 0 0 20px rgba(134, 255, 0, 1);
  box-shadow: 0 0 40px rgba(134, 255, 0, 1);
  box-shadow: 0 0 60px rgba(134, 255, 0, 1);
  box-shadow: 0 0 80px rgba(134, 255, 0, 1);
  box-shadow: 0 0 0 8px rgba(134, 255, 0, .1);
}

.glowing span:nth-child(3n + 1):before {
  background: rgba(255, 214, 0, 1);
  box-shadow: 0 0 20px rgba(255, 214, 0, 1);
  box-shadow: 0 0 40px rgba(255, 214, 0, 1);
  box-shadow: 0 0 60px rgba(255, 214, 0, 1);
  box-shadow: 0 0 80px rgba(255, 214, 0, 1);
  box-shadow: 0 0 0 8px rgba(255, 214, 0, .1);
}

.glowing span:nth-child(3n + 2):before {
  background: rgba(0, 226, 255, 1);
  box-shadow: 0 0 20px rgba(0, 226, 255, 1);
  box-shadow: 0 0 40px rgba(0, 226, 255, 1);
  box-shadow: 0 0 60px rgba(0, 226, 255, 1);
  box-shadow: 0 0 80px rgba(0, 226, 255, 1);
  box-shadow: 0 0 0 8px rgba(0, 226, 255, .1);
}

.glowing span:nth-child(3n + 0) {
  animation: animate 10s alternate infinite;
}

.glowing span:nth-child(3n + 1) {
  animation: animate-reverse 3s alternate infinite;
}

.glowing span:nth-child(3n + 2) {
  animation: animate 8s alternate infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-reverse {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}